@media (min-height: 425px) {
    #youtube {
      z-index: 50;
      width: 100px;
      height: 70px;
      position: fixed;
      bottom: 20px;
      transform: scale(0.8);
      transition: transform 0.5s;
    }
  
    #youtube {
      display: block;
      background: red;
      right: 20px;
      border-radius: 50% / 11%;
    }
  
    #youtube:hover,
    #youtube:focus {
      transform: scale(0.9);
      color: black;
    }
  
    #youtube::before {
      content: "";
      display: block;
      position: absolute;
      top: 7.5%;
      left: -6%;
      width: 112%;
      height: 85%;
      background: red;
      border-radius: 9% / 50%;
    }
  
    #youtube::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 40px;
      width: 45px;
      height: 30px;
      border: 15px solid transparent;
      box-sizing: border-box;
      border-left: 30px solid white;
    }
  
    #youtube span {
      font-size: 0;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  
    #youtube:hover + #youtube-card {
      z-index: 49;
      display: block;
      position: fixed;
      bottom: 12px;
      width: 300px;
      background-color: white;
    }
  
    #youtube:hover + #youtube-card {
      right: 10px;
      padding: 25px 130px 25px 25px;
    }
}