{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks  %}
{% block content %}

<style>
    #id_new_password1{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
        
    }
    #id_new_password2{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
    }

    #id_old_password{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
    }
</style>

    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                {% include 'partials/settings_sidebar.html' %}
                <div class="lg:w-2/3">
                    <form method="POST" class="lg:flex lg:flex-col justify-between lg:h-full" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- form header -->
                        <div class="lg:px-10 lg:py-8 p-6">
                            <h3 class="font-bold mb-2 text-xl">Change your password</h3>
                        </div>

                        <!-- form body -->
                        <div class="lg:py-8 lg:px-20 flex-1 space-y-4 p-6">
                            <div class="row">
                                <div class="col-lg-12 p-2 mb-20 m-auto">
                                    {% if form.errors %}
                                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                        <strong class="font-bold">{{form.errors}}</strong>
                                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                                        </span>
                                      </div> 
                                    {% endif %}
                                    <form method="POST" class="shadow card custom-br-10px p-4">
                                    {% csrf_token %}
                                    <div class="mb-2 mr-sm-2">
                                        <br>
                                        {{form}}
                                    </div>
                                    <div class="bg-gray-10 mt-3  pt-0 flex justify-end space-x-3">
                                        <button type="submit" class="button bg-blue-700"> Update Password </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
