{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks  %}
{% block content %}

<style>
    #id_new_password1{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
        
    }
    #id_new_password2{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
    }

    #id_old_password{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
    }
</style>

    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                {% include 'partials/settings_sidebar.html' %}
                <div class="lg:w-2/3">
                    <div class="lg:flex lg:flex-col justify-between lg:h-full">
                        <div class="lg:px-10 lg:py-8 p-6">
                            <h3 class="font-bold mb-2 text-xl"> Password Changed Successfully <i class="fas fa-check-circle"></i></h3>
                            <p><small>Congratulations your password have been changed.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
