{% extends 'partials/base.html' %}
{% load static %}
{% load mathfilters %}
{% load custom_filters %}
{% block content %}
<!-- Main Contents -->
<div class="main_content">
    <div class="mcontainer">

        <!-- Nhóm đề xuất -->
        <div class="flex justify-between relative md:mb-4 mb-3">
            <div class="flex-1">
                <h2 class="text-2xl font-semibold"> Nhóm </h2>
                <nav class="responsive-nav border-b md:m-0 -mx-4">
                    <ul style="height: 65px;" >
                        <li class="active"><a href="#" class="lg:px-2"> Đề xuất </a></li>
                    </ul>
                </nav>
            </div>
            <a href="{% url 'core:create-group-page'%}"
                class="flex items-center justify-center h-9 lg:px-5 px-2 rounded-md bg-blue-600 text-white space-x-1.5 absolute right-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="md:block hidden"> Tạo nhóm mới </span>
            </a>
        </div>

        <div class="relative" uk-slider="finite: true">

            <div class="uk-slider-container px-1 py-3">
                <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-small uk-grid">

                    {% for g in groups %}
                        {% if g.user != request.user and g.visibility == "Everyone" %}
                            {% if request.user not in g.members.all %}
                                <li>
                                    <div class="card">
                                        <div class="card-media h-28">
                                            <div class="card-media-overly"></div>
                                            <img src="/static/assets/images/group/group-cover-1.jpg" alt="" class="">
                                        </div>
                                        <div class="card-body">
                                            <a href="timeline-group.html" class="font-semibold text-lg truncate"> {{ g.name }} </a>
                                            <div
                                                class="flex items-center flex-wrap space-x-1 mt-1 text-sm text-gray-500 capitalize">
                                                <div> <span> {{ g.member_user_count }} Thành viên /</span> </div>
                                                <div> <span> {{ g.views }} Lượt xem </span> </div>
                                            </div>
                                            <div class="flex mt-3.5 space-x-2">
                                                <div class="flex items-center -space-x-2 -mt-1">
                                                    {% for member in g.members.all %}
                                                        {% if forloop.counter <= 2 %}
                                                            <img alt="Image placeholder" src="{{ member.profile.image.url }}" class="border-2 border-white rounded-full w-7">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="flex-1 leading-5 text-sm">
                                                    <div> 
                                                        {% if g.member_count > 0 %}
                                                            {% if g.member_count > 1 %}
                                                                <div>
                                                                    {{ g.first_member.full_name }} và {{ g.member_count|sub:"1" }} người bạn khác
                                                                </div>
                                                            {% else %}
                                                                <div>Chỉ có {{ g.first_member.full_name }}</div>
                                                            {% endif %}
                                                        {% else %}
                                                            <div>Không có bạn chung</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex mt-3.5 space-x-2">
                                                <div class="flex-1 leading-5 text-sm">
                                                    <div> Nhóm 
                                                        <strong>
                                                            {% if g.visibility == "Everyone" %}
                                                                Công khai
                                                            {% else %}
                                                                Riêng tư
                                                            {% endif %}
                                                        </strong> 
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex mt-3.5 space-x-2 text-sm font-medium">
                                                <a href="#"
                                                    id="join-group"
                                                    class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize"
                                                    data-group-id="{{g.id}}">
                                                    Tham gia
                                                </a>
                                                <a href="{% url 'core:group_detail' g.slug %}"
                                                    class="bg-gray-200 flex flex-1 h-8 items-center justify-center rounded-md capitalize">
                                                    Xem nhóm
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>

                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>

            </div>
        </div>

        <!-- Nhóm do bạn quản lý -->
        <div class="sm:my-6 my-3 flex items-center justify-between border-b pb-3">
            <div>
                <h2 class="text-xl font-semibold"> Nhóm do bạn quản lý </h2>
                <p class="font-medium text-gray-500 leading-6"> Là người tạo và toàn quyền quản lý nhóm. </p>
            </div>
        </div>

        <div class="relative" uk-slider="finite: true">

            <div class="uk-slider-container px-1 py-3">
                <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-small uk-grid">
                    {% for g in groups %}
                        {% if g.user == request.user %}
                            <li>
                                <div class="card">
                                    <div class="card-media h-28">
                                        <div class="card-media-overly"></div>
                                        <img src="/static/assets/images/group/group-cover-1.jpg" alt="" class="">
                                    </div>
                                    <div class="card-body">
                                        <a href="timeline-group.html" class="font-semibold text-lg truncate"> {{ g.name }} </a>
                                        <div
                                            class="flex items-center flex-wrap space-x-1 mt-1 text-sm text-gray-500 capitalize">
                                            <div> <span> {{ g.member_user_count }} Thành viên /</span> </div>
                                            <div> <span> {{ g.views }} Lượt xem </span> </div>
                                        </div>
                                        <div class="flex mt-3.5 space-x-2">
                                            <div class="flex items-center -space-x-2 -mt-1">
                                                {% for member in g.members.all %}
                                                    {% if forloop.counter <= 2 %}
                                                        <img alt="Image placeholder" src="{{ member.profile.image.url }}" class="border-2 border-white rounded-full w-7">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="flex-1 leading-5 text-sm">
                                                <div> 
                                                    {% if g.member_count > 0 %}
                                                        {% if g.member_count > 1 %}
                                                            <div>
                                                                {{ g.first_member.full_name }} và {{ g.member_count|sub:"1" }} người bạn khác
                                                            </div>
                                                        {% else %}
                                                            <div>Chỉ có {{ g.first_member.full_name }}</div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div>Không có bạn chung</div>
                                                    {% endif %}
                                                
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3.5 space-x-2">
                                            <div class="flex-1 leading-5 text-sm">
                                                <div> Nhóm 
                                                    <strong>
                                                        {% if g.visibility == "Everyone" %}
                                                            Công khai
                                                        {% else %}
                                                            Riêng tư
                                                        {% endif %}
                                                    </strong> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3.5 space-x-2 text-sm font-medium">
                                            <a href="{% url 'core:group_detail' g.slug %}"
                                                class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                Xem nhóm
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>

                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>

            </div>
        </div>

        <!-- Nhóm bạn đã tham gia -->
        <div class="sm:my-6 my-3 flex items-center justify-between border-b pb-3">
            <div>
                <h2 class="text-xl font-semibold"> Nhóm bạn đã tham gia </h2>
                <p class="font-medium text-gray-500 leading-6"> Nhóm </p>
            </div>
        </div>

        <div class="relative" uk-slider="finite: true">

            <div class="uk-slider-container px-1 py-3">
                <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-small uk-grid">
                    {% for g in groups %}
                        {% if g.user == request.user or request.user in g.members.all %}
                            <li>
                                <div class="card">
                                    <div class="card-media h-28">
                                        <div class="card-media-overly"></div>
                                        <img src="/static/assets/images/group/group-cover-1.jpg" alt="" class="">
                                    </div>
                                    <div class="card-body">
                                        <a href="timeline-group.html" class="font-semibold text-lg truncate"> {{ g.name }} </a>
                                        <div
                                            class="flex items-center flex-wrap space-x-1 mt-1 text-sm text-gray-500 capitalize">
                                            <div> <span> {{ g.member_user_count }} Thành viên /</span> </div>
                                            <div> <span> {{ g.views }} Lượt xem </span> </div>
                                        </div>
                                        <div class="flex mt-3.5 space-x-2">
                                            <div class="flex items-center -space-x-2 -mt-1">
                                                {% for member in g.members.all %}
                                                    {% if forloop.counter <= 2 %}
                                                        <img alt="Image placeholder" src="{{ member.profile.image.url }}" class="border-2 border-white rounded-full w-7">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="flex-1 leading-5 text-sm">
                                                <div> 
                                                    {% if g.member_count > 0 %}
                                                        {% if g.member_count > 1 %}
                                                            <div>
                                                                {{ g.first_member.full_name }} và {{ g.member_count|sub:"1" }} người bạn khác
                                                            </div>
                                                        {% else %}
                                                            <div>Chỉ có {{ g.first_member.full_name }}</div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div>Không có bạn chung</div>
                                                    {% endif %}
                                                
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3.5 space-x-2">
                                            <div class="flex-1 leading-5 text-sm">
                                                <div> Nhóm 
                                                    <strong>
                                                        {% if g.visibility == "Everyone" %}
                                                            Công khai
                                                        {% else %}
                                                            Riêng tư
                                                        {% endif %}
                                                    </strong> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex mt-3.5 space-x-2 text-sm font-medium">
                                            <a href="{% url 'core:group_detail' g.slug %}"
                                                class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                Xem nhóm
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>

                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                    href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>

            </div>
        </div>

    </div>
</div>
{% endblock %}
