<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/assets/css/game_2048/keyframes.css">
    <link rel="stylesheet" href="../../static/assets/css/game_2048/style.css">
    <link rel="stylesheet" href="../../static/assets/css/game_2048/media.css">
    <link rel="shortcut icon" href="../../static/assets/images/favicon/favicon_2048.ico">
    <title>2048</title>
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1 class="title">
                <a href="">2048</a>
            </h1>
            <div class="scores-container">
                <div class="score-container">
                    <p class="title">ĐIỂM</p>
                    <P class="score">0</P>
                    <div class="score-addition">
                        +4
                    </div>
                </div>
                <div class="best-container">
                    <p class="title">KỶ LỤC</p>
                    <P class="score">66666</P>
                </div>
            </div>
        </div>
        <div class="game-intro">
            <a href="" class="restart-btn">Chơi mới</a>
            <h2 class="subtitle">
                Play 2048 Game Online
            </h2>
            <p class="above-game">
                Kết hợp các ô số và cố gắng đạt đến <strong>2048</strong>!
            </p>
        </div>
        <div class="game-container">
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                </div>
            </div>
            <div class="tile-container">

            </div>
            <div class="failure-container pop-container">
                <p>:(</span></p>
                <p>THUA RỒI</p>
            </div>
            <div class="winning-container pop-container">
                <p>:)</p>
                <p>BẠN PRO ĐÓ</p>
            </div>
        </div>
        <div class="footer">
            <span>
                <strong>HƯỚNG DẪN: </strong>Sử dụng phím mũi tên để di chuyển các ô. 
                Khi hai ô số giống hệt nằm cạnh nhau, chúng sẽ <strong>hợp thành số cao hơn!</strong>
            </span>
        </div>
    </div>

    <script src="../../static/assets/js/game_2048/config.js"></script>
    <script src="../../static/assets/js/game_2048/data.js"></script>
    <script src="../../static/assets/js/game_2048/utils.js"></script>
    <script src="../../static/assets/js/game_2048/event.js"></script>
    <script src="../../static/assets/js/game_2048/view.js"></script>
    <script src="../../static/assets/js/game_2048/game.js"></script>
    <script src="../../static/assets/js/game_2048/main.js"></script>
</body>

</html>