<div class="post-div" id="post-list">
    {% for p in posts %}
    <div class="card lg:mx-0 uk-animation-slide-bottom-small mb-3">

        <!-- post header-->
        <div class="flex justify-between items-center lg:p-4 p-2.5">
            <div class="flex flex-1 items-center space-x-4">
                <a href="{% url 'userauths:profile' p.user.username %}">
                    <img src="{{ p.user.profile.image.url }}" style="width: 40px; height: 40px;" class="bg-gray-200 border border-white rounded-full w-10 h-10">
                </a>
                <div class="flex-1 font-semibold capitalize">
                    <a href="{% url 'userauths:profile' p.user.username %}" class="text-black dark:text-gray-100">{{ p.user.profile.full_name|title }}</a>
                    <div class="text-gray-700 flex items-center space-x-2">{{p.date|timesince}} ago123 
                        <ion-icon name="story-time"></ion-icon>
                    </div>
                </div>
            </div>
            <div>
                <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i> </a>
                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small">

                    <ul class="space-y-1">
                        <li>
                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                        <i class="uil-share-alt mr-1"></i> Share
                        </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                        <i class="uil-edit-alt mr-1"></i>  Edit Post 
                        </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                        <i class="uil-comment-slash mr-1"></i>   Disable comments
                        </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                        <i class="uil-favorite mr-1"></i>  Add favorites 
                        </a>
                        </li>
                        <li>
                            <hr class="-mx-2 my-2 dark:border-gray-800">
                        </li>
                        <li>
                            <a href="" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                            <i class="uil-trash-alt mr-1"></i>  Delete
                        </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div uk-lightbox>
            
            {% if p.title %}
                <div class="p-5 pt-0 border-b dark:border-gray-700 pb-3">
                    {{p.title|truncatechars:130}}
                    {% if p.title_len_count > 130 %}
                        <a href="" class="text-blue-500">Continue Reading</a>
                    {% endif %}
                </div>
            {% endif %}
            
            {% if p.image %}
                
            <div class="grid grid-cols-2 gap-2 px-5">

                <!-- Show thumnnail -->
                <a href="{{p.image.url}}" class="col-span-2">  
                    <img src="{{p.image.url}}" style="width: 100%; height: 300px; object-fit: cover;" alt="" class="rounded-md w-full lg:h-76 object-cover">
                </a>

                <!-- Loop Throught Multiple Images -->
                {% for i in p.gallery_images|slice:"2" %}
                
                    {% if forloop.last %}
                    <a href="{{i.image.url}}" class="relative">  
                        <img src="{{i.image.url}}" style="width: 100%; height: 100px; object-fit: cover;" alt="" class="rounded-md w-full h-full">
                        <div class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"> + {{p.galley_img_count}} more </div>
                    </a>
                    {% else %}
                    <a href="{{i.image.url}}">  
                        <img src="{{i.image.url}}" style="width: 100%; height: 100px; object-fit: cover;" alt="" class="rounded-md w-full h-full">
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>

        <div class="p-4 space-y-3">

            <div class="flex space-x-4 lg:font-bold">
                <a  class="flex items-center space-x-2  text-blue-500" style="cursor: pointer;" >
                    <div class="p-2 rounded-full like-btn{{p.id}} {% if request.user in p.likes.all %}text-blue-500 {% else %} text-black {% endif %} " id="like-btn" data-like-btn="{{p.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-blue-100">
                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                        </svg>
                    </div>
                    <div> Like</div>
                </a>
                <a href="#" class="flex items-center space-x-2">
                    <div class="p-2 rounded-full  text-black lg:bg-gray-100 dark:bg-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                            <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div> <b><span id="comment-count{{p.id}}">{{p.post_comments_count}}</span></b> Comment</div>
                </a>
                <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                    <div class="p-2 rounded-full  text-black lg:bg-gray-100 dark:bg-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22" class="dark:text-gray-100">
                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                        </svg>
                    </div>
                    <div> Share</div>
                </a>
            </div>
            
            <div class="flex items-center space-x-3 pt-2">
                
                {% if p.likes.all.count > 0 %}
                    
                    
                <div class="flex items-center">
                    {% for i in p.likes.all|slice:"3" %}
                        {% if forloop.first %}
                            <img src="{{i.profile.image.url}}" alt="" class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900">
                        {% else %}
                            <img src="{{i.profile.image.url}}" alt="" class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- <div class="dark:text-gray-100">
                    Liked by
                    
                        {% for i in p.likes.all %}
                        <strong>
                            {% if forloop.first %}
                                {{i.profile.full_name}}
                            {% endif %}
                        </strong> 
                        {% endfor %}
                        and <strong> <span id="like-count{{p.id}}">{{p.likes.all.count|sub:"1"}}</span> Others </strong>
                </div> -->
                <div class="dark:text-gray-100">
                    <strong><span id="like-count{{p.id}}">{{p.likes.all.count}}</span></strong> Likes
                </div>
                {% else %}
                <div class="dark:text-gray-100">
                    <strong><span id="like-count{{p.id}}">0</span></strong> Likes
                </div>
                {% endif %}

            </div>

            <div class="border-t py-4 space-y-4 dark:border-gray-600" id="comment-div{{p.id}}">
                
                {% for c in p.post_comments|slice:"2" %}
                <div class="flex card shadow p-2" id="comment-div{{c.id}}">
                    <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                        <img src="{{c.user.profile.image.url}}" alt="" class="absolute h-full rounded-full w-full">
                    </div>
                    <div>
                       
                        <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 relative lg:ml-5 ml-2 lg:mr-12 dark:bg-gray-800 dark:text-gray-100 flex items-center">
                            <p class="leading-6 flex-grow">{{c.comment}}</p>
                            {% if c.user == request.user %}
                                <button class="ml-auto text-xs ml-3 mr-3" id="delete-comment" data-delete-comment="{{c.id}}"> <i class="fas fa-trash text-red-500"></i> </button>
                            {% endif %}
                        </div>
                        <div class="text-sm flex items-center space-x-3 mt-2 ml-5">
                            <a id="like-comment-btn" data-like-comment="{{c.id}}" class="like-comment{{c.id}} text-red-500" {% if request.user in c.likes.all %} style="color: red;" {% else %} style="color: gray;"  {% endif %} > <i id="comment-icon{{c.cid}}" class=" fas fa-heart  "></i></a> <small><span class="" id="comment-likes-count{{c.id}}">{{ c.likes.all.count }}</span></small> 

                                  <details >
                                        <summary><div class="">Reply</div></summary>
                                
                                        <details-menu role="menu" class="origin-topf-right relative right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                                            <div class="pyf-1" role="none">
                                                <div method="POST" class="p-1 d-flex" action="#" role="none">
                                                    <input type="text" class="with-border" name="" id="reply-input{{c.id}}">
                                                    <button id="reply-comment-btn" data-reply-comment-btn="{{c.id}}" class="block w-fulfl text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 reply-comment-btn{{c.id}}" role="menuitem">
                                                    <ion-icon name="send"></ion-icon>
                                                </button>
                                                </div>
                                            </div>
                                        </details-menu>
                                  </details>
                            <span> <small>{{c.date|timesince}} ago</small> </span>
                        </div>
                        <div class="reply-div{{c.id}}">
                            
                            {% for r in c.comment_replies|slice:1 %}
                                <div class="flex mr-12 mb-2 mt-2" style="margin-right: 20px;">
                                    <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                        <img src="{{r.user.profile.image.url}}" style="width: 40px; height: 40px;" alt="" class="absolute h-full rounded-full w-full">
                                    </div>
                                    <div>
                                        <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 relative lg:ml-5 ml-2 lg:mr-12 dark:bg-gray-800 dark:text-gray-100">
                                            <p class="leading-6">{{r.reply}}</p>
                                            <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                                        </div>
                                        <span> <small>{{r.date|timesince}} ago</small> </span>
                                    </div>
                                </div>
                                
                                {% if c.comment_replies.count > 0 %}
                                
                                <span style="border-bottom: dashed 1px rgb(73, 173, 255);"><a href="{% url 'core:post-detail' p.slug %}" class="text-blue-500"> <small>View All {{c.comment_replies.count}} Replies</small> </a></span>
                                {% endif %}
                                    
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!-- <hr> -->
                {% endfor %}

            </div>
            
            
            {% if p.post_comments.count|sub:2 < 1 %}
            <a href="#" class="hover:text-blue-600 hover:underline">No more Comments </a>
            {% else %}
            <a href="{% url 'core:post-detail' p.slug %}" class="hover:text-blue-600 hover:underline">  View {{p.post_comments.count|sub:2}} more Comments </a>
            {% endif %}
                

            <div class="bg-gray-100 rounded-full relative dark:bg-gray-800 border-t">
                <input placeholder="Add your Comment..." id="comment-input{{p.id}}" data-comment-input="{{p.id}}" class="bg-transparent max-h-10 shadow-none px-5 comment-input{{p.id}}">
                <div class="-m-0.5 absolute bottom-0 flex items-center right-3 text-xl">
                    <a style="cursor: pointer;" id="comment-btn" class="comment-btn{{p.id}}" data-comment-btn="{{p.id}}">
                        <ion-icon name="send-outline" class="hover:bg-gray-200 p-1.5 rounded-full"></ion-icon>
                    </a>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
</div>